.search-logs{
  height: auto;
  border: 1px solid;
  position: absolute;
  top: 10%;
  right: 0;
  width: 35%;
  background: #fff;
}

.logs-header{
    border-bottom: 1px solid;
    padding:  10px 20px;
    font-weight: bold;
    color: red;
    text-align: center;
}
.logs-body{
  padding: 20px;
}